{{define "notFound"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Development Essentials</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//unpkg.com/@highlightjs/cdn-assets@11.1.0/styles/default.min.css"
    />
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.1.0/highlight.min.js"></script>
    <link rel="stylesheet" href="/static/monokai.css" />
  </head>
  <body class="text-gray-100 bg-indigo-900">
    <section id="main" class="flex flex-col items-center justify-center">
      <h2
        class="
          text-red-400 text-center
          font-bold
          text-4xl
          mt-40
          mb-4
          font-sans
          tracking-wide
        "
      >
        Oops!
      </h2>
      <h3 class="tracking-wide text-gray-100 text-xk mt-4 mb-10 font-sans">
        {{ . }} Please head back to<a
          class="ml-1 text-blue-400 hover:underline"
          href="/"
          >Home</a
        >.
      </h3>
    </section>
    <footer class="flex items-center justify-center my-10">
      Made with 🧠 by team
      <a
        target="_blank"
        href="https://www.nisb.in"
        class="hover:underline text-blue-400 ml-1"
      >
        NISB</a
      >
    </footer>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>

{{ end }}
